@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* styles/global.css */
.gradient-background {
  height: 300vh;
  /* 300% of the viewport height */
  background: linear-gradient(to bottom, #0a0f0d, #341f97, #00416A);
  /* Dark blue to purple to blue */
}

/* More styles in global.css */
.skyline-image {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
  /* Ensure it's above the gradient */
  opacity: 0;
  /* Start invisible */
  transition: opacity 0.5s ease-in-out;
}